@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
:root{
    --main-bg-color:#2874f0;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--main-bg-color);
   
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
    padding: 0px 25px;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0px 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}
nav ul li a:hover {
    color: rgb(166, 149, 149);
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 30vw;
    height: 27px;
    border-radius: 2px;
    margin: 0px 16px 0px 56px;
    padding: 0px 12px;

}

.search button{
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
}
.slider{
    margin: 12px auto 12px auto;
    width: 80vw;
    overflow: hidden;
} 
.card{
    max-width: 91vw;
    margin: 37px auto;
    
} 
.cards{
    display: flex;
    flex-direction: row;
    overflow: scroll;
}
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}
.card h2{
    font-family: 'Roboto Mono', monospace;   
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}

footer {
    height: 10vh;
    background-color: var(--main-bg-color);
    color: white;
    font-size: large;
    font-family: 'Roboto Mono', monospace;
}